<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.CheckComboBox" version="1.0.0" targetFramework="net45" />
  <package id="DeltaCompressionDotNet" version="1.1.0" targetFramework="net45" />
  <package id="EntityFramework" version="6.3.0" targetFramework="net45" />
  <package id="EPPlus" version="4.1.0" targetFramework="net45" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net45" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net45" />
  <package id="Mono.Cecil" version="0.9.6.1" targetFramework="net45" />
  <package id="SharpCompress" version="0.17.1" targetFramework="net45" />
  <package id="Splat" version="1.6.2" targetFramework="net45" />
  <package id="System.Data.SQLite" version="1.0.112.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.112.0" targetFramework="net45" />
  <package id="System.Data.SQLite.EF6" version="1.0.112.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Linq" version="1.0.112.0" targetFramework="net45" />
  <package id="Unofficial.Microsoft.mshtml" version="7.0.3300" targetFramework="net45" />
</packages>